name: ci
# trigger events
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.31
          args: --timeout=5m
      - run: go mod download
      - run: go test -coverprofile=coverage.txt -covermode=atomic ./...
